.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.div__search {
    width: 100%;
    border: 1px solid #a4a4a4;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 24px;
}

.icon__purple {
    color: #ce93d8 !important;
}

.icon__blue {
    color: #90caf9 !important;
}

.icon__green {
    color: #a5d6a7 !important;
}

.icon__red {
    color: #ef5350 !important;
}

.icon__yellow {
    color: #fff59d !important;
}

.tile__header {
    height: 70% !important;
    justify-content: center !important;
}

.tile__content {
    position: absolute;
    bottom: 0;
}

.appointment__icon {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 18px;
}