.discount__ticket {
  width: 1000px;
  height: 400px;
}

.discount__ticket-header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  background-color: #43a047;
  color: #fff;
}
 .discount__ticket-item {
   display: flex;
   margin-left: 80px;
   width: 610px;
   justify-content: space-between;
 }
 .discount__ticket-content {
   margin:50px 0 50px 80px;
 }

 .ticket-content__button-1 {
  margin-left: 220px;
 }

 .ticket-item__input {
   width: 250px;
   height: 50px;
 }

 .ticket-item__form {
   height: 50px;
 }

 .discount-ticket__actions {
  margin-top: 65px;
  float: right;
 }

 .discount-ticket__actions button {
   margin-left: 15px;
 }
