.example-card {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #fff;
}

.service__screen-title {
    font-size: 30px;
    color: #fff;
    background-color: rgb(96, 193, 0);
    padding-top: 15px;
    padding-bottom: 15px;
}

.service__screen-header {
    text-align: -webkit-center;
}

.service__screen-submit {
    font-size: 20px;
    text-align: right;
}

.service__screen-content {
    font-size: 20px;
}