.signinup__dialog-content {
    text-align: center;
    font-size: 23px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.signinup__button {
    float: right;
    position: relative;
    bottom: -70px;
}

.signinup__dialog {
    width: 800px;
    height: 450px;
}

.signinup__title {
    font-size: 30px;
    font-weight: 500;
    margin-left: 0px !important;
}