<page-header class="bg-green-600"></page-header>

<section>
    <mat-card>
        <form [formGroup]="customerGroupForm">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 d-flex">
                        <div class="col-md-6 p-0">
                            <div class="col-md-12">
                                <mat-form-field class="w-full">
                                    <mat-label>Salon</mat-label>
                                    <mat-select formControlName="salon" required>
                                        <mat-option>Choose a salon</mat-option>
                                        <mat-option *ngFor="let sl of salon" [value]="sl.name">
                                            {{sl.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>Please choose a salon</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 p-t-16">
                                <mat-form-field class="w-full">
                                    <mat-label>Name</mat-label>
                                    <input matInput placeholder="Name" type="text" formControlName="name" required>
                                    <mat-error>This field is required</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 p-t-16">
                                <mat-form-field class="w-full">
                                    <mat-label>Estimate Time</mat-label>
                                    <input matInput placeholder="Estimate Time" type="time" formControlName="estimatetime" required>
                                    <mat-error>This field is required</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 d-flex p-t-24">
                                <mat-label class="col-md-3 p-0 text-left">Active Status</mat-label>
                                <mat-slide-toggle class="pl-4 col-md-9"></mat-slide-toggle>
                            </div>
                        </div>
                        <div class="col-md-6 p-0">
                            <div class="col-md-12">
                                <mat-form-field class="w-full">
                                    <mat-label>Select Category</mat-label>
                                    <mat-select formControlName="category" required>
                                        <mat-option>Choose a category</mat-option>
                                        <mat-option *ngFor="let ct of category" [value]="ct.name">
                                            {{ct.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>Please choose a category</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 p-t-16">
                                <mat-form-field class="w-full">
                                    <mat-label>Price</mat-label>
                                    <input matInput placeholder="Price" type="text" formControlName="price" required>
                                    <mat-error>This field is required</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 p-t-16">
                                <mat-form-field class="w-full">
                                    <mat-label>Tax</mat-label>
                                    <input matInput placeholder="Tax" type="text" formControlName="tax" required>
                                    <mat-error>This field is required</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-l-16 m-t-48">
                        <a href="javascript:;" class="btn btn-primary m-r-24 col-md-1" color="primary" mat-raised-button matTooltip="Save & Continue">
                            <span>Save</span>
                        </a>
                        <a [routerLink]="['/service/service-manager']" class="btn btn-secondary m-r-16 col-md-1" mat-raised-button matTooltip="Back to the list">
                            <span>Cancel</span>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </mat-card>
</section>