.dialog__title {
  text-align: center;
  font-size: 35px;
  font-weight: 500;
}

.signup__diaglog {
  width: 500px;
  height: 150px ;
}

.signup__dialog-content {
  text-align: center;
  font-size: 20px;
  padding-top: 5px;
}
